.container {
  font-family: 'Prompt', sans-serif;
  background-image: url("https://cdn.wallpapersafari.com/18/69/eYQ4Cq.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

}
.title {
  text-align: center;
  margin: 0;
  padding: 12rem 0 3rem 0;
  font-size: 70px; 
   color: white;
}
.newyear {
  font-size: 58px;
  text-align: center;
  margin: 2rem 0;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.digit {
  text-align: center;
  width: 120px;
}
.counter {
  font-size: 65px;
  font-weight: 700;
}
.name {
  font-size: 24px;
}
.cot {
  font-size: 46px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
    .digit {
      width: 90px;
    }
    .counter {
      font-size: 50px;
    }
}